<div ng-controller="formController">

  <!-- the novalidate stops the browser from imposing any built-in validation -->
  <form ng-submit="submit()" class="form" novalidate>
    Name: <input type="text" ng-model="user.username" placeholder="Username"/><br />

    <!-- do validation for correct email format below here if/when email is included -->
    E-mail: <input type="email" ng-model="user.email" placeholder="email"/><br /> 
    
    Project Name: <input type="text" ng-model="user.projectName" placeholder="project"/><br />
    Time Constraint: <input type="text" ng-model="user.timeConstraint" placeholder="time contstraint"/><br />
    Wanted: <input type="text" ng-model="user.wanted" placeholder="wanted"/><br />
    Description: <input type="text" ng-model="user.description" placeholder="description"/><br />
    
    <!-- this should be a $ amount...currency input type? -->
    Pledge: $<input type="number" ng-model="user.pledge" placeholder="pledge"/><br />
    
    <br />
    <button type="submit">
        Make It So!
    </button>
  </form>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js" />
    <script src="app/app.js" />
  </body>
</html>
