html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

h1 {
    margin-bottom: 5px; 
    margin-top: 1px;
    margin-left: 18px;
}

h4 {
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF8C2D;
}

li {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFBD39;
}

a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}

button {
    background-color: #FF8C2D;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    font-size: 18px;
}

button:hover{
    background-color: #FFFFFF;
    color: #FF8C2D;
}

input, select, textarea{
   color: black;
}

input, textarea{
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    font-size: 18px;
}

.leftLabel {
    text-align: left !important;
}

.topOfPage {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.num {
    font-family: 'PT Sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 20px;
  box-sizing: border-box; 
}

.columns {
  background-color: #38ABAB;
  color: white;
  width: 100%;
  float: left;
  box-sizing: border-box;
  columns: 2;
  padding: 20px;
  margin: 20px;
}

.projectbuttons {
    padding: 20px 0 0 0;
    text-align: right;

}

#title a {
   font-family: 'Megrim', cursive;
   font-weight: bold;
   color: black !important;
   padding-left: 20px; 
   font-size: 56px;
   margin-top: 10px;
   margin-bottom: 8px;
}

#bountyName {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#submitForm{
  background-color: #38ABAB;
  color: white;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin: 20px;
  max-width: 860px;
}

#searchbar{
  float:right;
  padding-top:5px;
  padding-right: 15px;
  padding-left: 10px;
}

#mag{
  padding-right: 4px;
  padding-bottom: 3px;
}