html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

h1 {
    margin-bottom: 5px; 
    margin-top: 1px;
    margin-left: 18px;
}

#title {
   font-family: 'Megrim', cursive;
   font-weight: bold;
   padding-left: 20px; 
   font-size: 56px;
   margin-top: 10px;
   margin-bottom: 8px;
}

#bountyName {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF8C2D;
}

li {
    float: left;
}

.num {
    font-family: 'PT Sans', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h4 {
    font-size: 15px;


}

a:hover {
    background-color: #FF8C2D;
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none
}

button {
    background-color: #FF8C2D;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    font-size: 18px;


}

button:hover{
    background-color: #FFFFFF;
    color: #FF8C2D;
}

li a:hover {
    background-color: #FFBD39;
}

  .container {
  position: relative;
  width: 100%;
  max-width: 960px;
/*  margin: 0 auto;*/
  padding: 20px;
  box-sizing: border-box; }

.columns {
  background-color: #38ABAB;
  color: white;
  width: 100%;
  float: left;
  box-sizing: border-box;
  columns: 2;
  padding: 20px;
  margin: 20px;
  /*padding-bottom: 30px;*/
}

.projectbuttons {
    padding: 20px 0 0 0;
    text-align: right;

}

#submitForm{
  background-color: #38ABAB;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}


input, select, textarea{
   color: black;
}





