<div ng-controller="formController">

 <!-- the novalidate stops the browser from imposing any built-in validation -->
 <form ng-submit="submit(user)" class="form" novalidate>
   Name: <input type="text" ng-model="user.username" placeholder="username"/><br />

   <!-- do validation for correct email format below here if/when email is included -->
   E-mail: <input type="email" ng-model="user.email" placeholder="email"/><br /> 
   
   Project Name: <input type="text" ng-model="user.projectName" placeholder="project"/><br />
   Time Constraint: <input type="text" ng-model="user.timeConstraint" placeholder="time constraint"/><br />
   Wanted: <input type="text" ng-model="user.wanted" placeholder="wanted"/><br />
   Description: <input type="text" ng-model="user.description" placeholder="description"/><br />
   
   <!-- this should be a $ amount...currency input type? -->
   Pledge: $<input type="text" ng-model="user.pledge" placeholder="pledge"/><br />
   
   <br />
   <button type="submit">
       Make It So!
   </button>
 </form>

</div>
 </body>
</html>