<!-- I want to place/style this better -->
<div ng-controller="formController">
  <!-- the novalidate stops the browser from imposing any built-in validation -->
  <form ng-submit="submit()" class="form" novalidate>
    Name: <input type="text" ng-model="user.username" /><br />
    <!-- do validation for correct email format here -->
    E-mail: <input type="email" ng-model="user.email" /><br /> 
    Project Name: <input type="projectName" ng-model="user.projectName" /><br />
    Time Constraint: <input type="timeConstraint" ng-model="user.timeConstraint" /><br />
    Wanted: <input type="wanted" ng-model="user.wanted" /><br />
    Description: <input type="description" ng-model="user.description" /><br />
    <!-- this should be a $ amount -->
    Pledge: $<input type="pledge" ng-model="user.pledge" /><br />
    <br />
    <button type="submit">
        Make It So!
      </button>
  </form>
</div>
    