<div ng-controller='homeController' ng-init="getBounties()">
	<div class="container">
	<h1>Current Bounties</h1>
	<div>
	<div class="columns" ng-repeat="bounties in data | orderBy:'$index':true">
		<h1 id='bountyName'>{{bounties.name}}</h1>
		<h3>Wanted: {{bounties.wanted}}</h3>
		<h5>Description: {{bounties.description}}</h5>
		<h3>Time Constraint: {{bounties.timeConstraint | date: 'longDate'}}</h3>
		<div class="projectbuttons">
		<br/>
		<form ng-submit="contribute(username[$index], amount[$index], bounties.id)">
		<h4>Username: <input type="text" ng-model="username[$index]" placeholder="Username"/> </h4>
		<h4>Amount: <input type="integer" ng-model="amount[$index]" placeholder="Amount to Contribute"/></h4>
		<button type="submit">CONTRIBUTE!</button>
		<h1 class='num'>{{bounties.amount | currency:"$":0}}</h1>
		<button type="click" ng-click="claim(bounties.id)">CLAIM BOUNTY!</button>
	</div>	
		</form>
	</div>
	</div>
	</div>
</div>

